/* TRANSFORM  */
@mixin transform($params) {
    -webkit-transform: $params;
    -moz-transform:    $params;
    transform:         $params;
}

/* TRANSFORM-STYLE  */
@mixin transform-style($params) {
    -webkit-transform-style: $params;
    transform-style: $params;
}

// /* TRANSITION */
// @mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
//     -moz-transition:    $what $length $easing;
//     -o-transition:      $what $length $easing;
//     -webkit-transition: $what $length $easing;
//     -ms-transition:     $what $length $easing;
//     transition:         $what $length $easing;
// }
