// @import "_mixins.reset";
@import "_mixins.anim";
@import "bootstrap";

body > header {
    margin-bottom: 20px;
    text-align: center;
    padding: 1px 0 10px;
    background-color: #F5F5F5;
}

nav > a.disabled {
    pointer-events: none;
    color: #444;
}

// @include reset-global;
@import "list";
@import "country";
@import "spinner";
@import "main";